/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.textstyle {
    color: #333;
    text-align: center;
}

#mensagem {
    color: #555;
    text-align: center;
    border-bottom: 1px solid #333;
}
