/* Estilos básicos para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 3;
}

.textstyle {
    color: #333;
    text-align: center;
}

#mensagem {
    color: #555;
    text-align: center;
    border-bottom: 1px solid #333;
}
.please-style {
 font-family: Arial, sans-serif;
 

}
 .box {
     width: 50%;
     background-color: rgb(196, 196, 196);
     height: 250px;
     overflow-y: auto;
     overflow-x: hidden;
 }  



